[Desktop Entry]
Name=Prism Launcher
Comment=Custom Minecraft Launcher to easily manage multiple Minecraft installations at once
Type=Application
Terminal=false
Exec=prismlauncher-alpo.prismlauncher
StartupNotify=true
Icon=${SNAP}/meta/gui/Prism_Launcher_logo.svg
Categories=Game;
Keywords=game;minecraft;launcher;mc;
